<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Payment</title>
</head>
<body>
    <!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>
    <form action="{% url "Payment" %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="tsid" id="tsid">
      <input type="hidden" name="status" id="status">
      <input type="hidden" name="amountpaid" id="amountpaid">
      <input type="hidden" name="user" value={{sessionvalue}}>
      <input type="hidden" name="book_id" value={{bookingobj.id}}>
      <input type="submit" id="submit-btn" style="display:none;" value="Continue">    
    </form> 

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>

    <script>
        var amount= {{bookingobj.totalprice}}
     function initPayPalButton() {

paypal.Buttons({

  style: {

    shape: 'rect',

    color: 'gold',

    layout: 'vertical',

    label: 'paypal',

   

  },


  createOrder: function(data, actions) {

    return actions.order.create({

      purchase_units: [{"amount":{"currency_code":"USD","value":amount}}]

    });

  },


  onApprove: function(data, actions) {

    return actions.order.capture().then(function(orderData) {

     

      // Full available details

      console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));



      // Show a success message within this page, e.g.

      const element = document.getElementById('paypal-button-container');

      element.innerHTML = '';

      element.innerHTML = '<h3>Thank you for your payment!</h3>';

      document.getElementById("tsid").value = orderData['id']
      document.getElementById("status").value = orderData['status']
      document.getElementById('amountpaid').value = amount
      document.getElementById("submit-btn").style.display = ""

      // Or go to another URL:  actions.redirect('thank_you.html');

    });

  },



  onError: function(err) {

    console.log(err);

  }

}).render('#paypal-button-container');

}

initPayPalButton();

</script>

</body>
</html>