{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="{% static "login.css" %}">
        <title>Login</title>
    </head>
    <body>
        <div class="wrapper">
            
            <form action="" method="post">
            {% csrf_token %}
            <h1>Login</h1>
            <div class="msgtag">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="input-box">
                <div class="input-field">
                    <input type="email" name="username" placeholder="Email" required>
                    <i class='bx bxs-envelope'></i>
                </div>
            </div>
            <div class="input-box">
                <div class="input-field">
                    <input type="password" name="pass" placeholder="Password" required>
                    <i class='bx bxs-lock-alt'></i>
                </div>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
        <div class="login-link">Create new account. <a href="{% url "SignUp"%}">Register</a></label></div>
    </div>
</body>
</html>
{% load static %}